/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-rows: auto auto;  /* Define duas linhas automáticas */
    justify-items: center;          /* Centraliza a imagem e o texto (opcional) */
    gap: 10px;                      /* Espaço entre a imagem e o parágrafo */
}

/* Estilos Globais */
body {
    display: flex;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
}

/* Sidebar */
.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #1c1c1c;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sidebar h2 {
    font-size: 24px;
    color: #a200ff;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    width: 100%;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px 0;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #a200ff;
}



/* Conteúdo Principal */
.content {
    margin-left: 270px; /* Espaço para a sidebar */
    padding: 20px;
    width: calc(100% - 270px);
}

.profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3.5px solid #a200ff;
    display: block;    /* Garante que a imagem fique como um bloco */
    margin: 0 auto;    /* Centraliza a imagem (opcional) */
    max-width: 100%;   /* Garante que a imagem seja responsiva */
}
/* Header do Perfil */
.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    
    flex-wrap: wrap;             /* Permite a quebra de linha, se necessário */
    justify-content: center;     /* Alinha os itens ao centro */
    gap: 20px;   
}

.liked-music li:hover {
    background-color: #333;
}

.profile-header {
    display: flex;
    flex-wrap: wrap;             /* Permite a quebra de linha, se necessário */
    justify-content: space-evenly; /* Distribui os itens igualmente */
    gap: 20px;                    /* Espaço entre os elementos */
}

.profile-item {
    text-align: center;
}

.profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3.5px solid #a200ff;
}

.profile-item p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
}

/* Cor padrão do link */
.profile-item a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s; /* Transição suave */
}

/* Cor do link ao passar o mouse por cima do item do perfil */
.profile-item:hover a {
    color: #a200ff; /* Cor ao passar o mouse */
}

